*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
.nav__bar{
    background-color:#333333 ;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    min-width: 460px;
}
.nav__bar img{
    width: 50%;
    object-fit: contain;
}
.container__cart-title{
    display: flex;
    margin-top: 5px;
}
.container__cart-title h1{
    margin: 0 auto;
    font-size: 2.5rem;
}

.container__cart-title i{
    font-size: 2.5rem;
    margin-left: 10px;
}

.container__cart-card{
    width: 50%;
    /* height: 180px; */
    max-width: 400px;
}
.container__cart-card img{
    width: 100%;
    height: 100%;
}
.container__cart-text{
    /* width: 200px; */
    margin-left: 20px;
}
.container__cart-text h3{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;;
    color: #000000;
    font-size: 2rem;
}
.container__cart-text p{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;;
    color: #1FBA79;
    font-size: 2.5rem;
    margin-top: 10px;
    width: 200px;
}
.container__cart-text span{
    color: #000000;
    font-weight: bold;
    margin-left: 10px;
    font-size: 2.2rem;
}
.container__cart-payment{
    position: absolute;
    top: 220px;
    right: 0;
    width: 50%;
    max-width: 500px;
}
.container__cart-payment h3{
    text-align: center;
    width: 200px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}
.container__cart-payment-images{
    width: 100%;
    display: flex;

}
.container__cart-payment-images img{
    border-radius: 20px;
    margin-top: 20px;
    height: 70px;
    max-height: 200px;
    transition: transform 0.5s;
}
.container__cart-payment-images img:nth-child(1){
    height: 55px;
    margin-top: 28px;
}

.container__cart-payment-images img:hover{
    transform: scale(1.6);
}
.container__cart-payment h3{
    font-size: 2rem;

}
.eliminate__items{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 10px;
    min-width: 450px;
    font-weight: bold;
}
.eliminate__items p{
    padding: 5px;
    font-size: 2rem;
    margin: 0 20px;
}

.buy{
    background-color: #1FBA79;
    border-radius: 10px;
    color: #ffffff;
}
.fa-cart-shopping,
.fa-trash-can{
    font-size: 2.2rem;
    margin: 10px 14px;    
    color: #000000;
}
.eliminate__items span{
    margin-top: 6px;
    font-size: 3rem;
    color: #000;
}