<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/carrito.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/7700e45408.js" crossorigin="anonymous"></script> -->
    <title>Document</title>
</head>

<body>
    <header class="nav__bar">
        <div class="nav__bar-image">
            <img src="./images/Logo nxtGen.jpg " alt="logo nxtgen">
        </div>
        <div class="nav__bar-items">
            <ul>
                <li><a href="#">Computadores</a></li>
                <li><a href="#">Celulares</a></li>
                <li><a href="#">Tablets & iPad</a></li>
                <li><a href="#">Monitores</a></li>
            </ul>
        </div>
        <div class="nav__bar-search">
            <form action="">
                <label for="search">
                    <input type="search" placeholder="Buscar productos..">
                    <button type="submit"><i class="fa-solid fa-search"></i></button>
                </label>
            </form>
        </div>  

        <div class="nav__bar-icons">
            <i class="fa-solid fa-cart-plus"></i>
            <i class="fa-solid fa-user" id ="profile"></i>
        </div>
    </header>
    <main>
        <section class="container__cart">
            <div class="container__cart-title">
                <i class="fa-solid fa-angle-left"></i>
                <h1>Carrito de Compras</h1>
            </div>
            <div class="container__cart-card">
                <img src="./images/S23 carrito.jpg" alt="Product S23">
                <div class="container__cart-text">
                    <h3>Samsung Galaxy S23 6,1 <br> “5G 256GB Verde</h3>
                    <p>Subtotal: <span>4’500.900</span></p>
                    <p>Total: <span>4’599.900</span></p>
                </div>
            </div>
            <div class="container__cart-payment">
                <h3>Métodos de pago:</h3>
                <div class="container__cart-payment-images">
                    <img src="./images/visa-logo.jpg" alt="visa logo" class="visa">
                    <img src="./images/pse.jpg" alt="pse">
                    <img src="./images/mastercard.jpg" alt="mastercard">
                </div>
            </div>
        <div class="eliminate__items">
            <p class="delete"><i class="fa-solid fa-trash-can"></i>Eliminar</p>
            <span>//</span>
            <p class="buy">Ir a comprar<i class="fa-solid fa-cart-shopping"></i></p>
        </div>
    </section>
        <section class="suggestions__container">
            <div class="suggestions__container-title">
                <h3>Sugerencias...</h3>
            </div>
            <div class="suggestions__products">
                <div class="suggestions__products-card">
                    <img src="./images/Producto detalle.jpg" alt="product">
                    <div class="suggestions__products-info">
                        <h3>Motorola G80 128gb plata</h3>   
                        <p>$ 880.000</p>
                    </div>
                    <div class="add-to-cart">
                        <i class="fa-solid fa-cart-shopping"><a href="/">Añadir al carrito</i></a>
                    </div>
                </div>
                
                <div class="suggestions__products-card">
                    <img src="./images/Producto Carrito.jpg" alt="product">
                    <div class="suggestions__products-info">
                    <h3>iPhone 11 128GB</h3>
                    <p>$ 2'450.000</p>
                </div>
                <div class="add-to-cart">
                    <i class="fa-solid fa-cart-shopping"><a href="/">Añadir al carrito</i></a>
                </div>
            </div>
            </div>
        </section>
    </main>
    <div class="nav__bar-bottom">
        <nav>
            <ul>
                <li><i class="fa-solid fa-bars"></i></li>
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><i class="fa-solid fa-user" id ="profile"></i></li>
                <li><i class="fa-solid fa-cart-plus"></i></li>
            </ul>
        </nav>
    </div>
</body>
</html>