<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f0d3880266.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>NXTGEN</title>
</head>
<body>
    <header class="main-header">
        <div>
            <img src="/images/Logo nxtGen.jpg" alt="logo">
        </div>
        <nav class="main-navbar">
            <ul>
                <li> <a href="#">Computadores</a> </li>
                <li> <a href="#">Celulares</a> </li>
                <li> <a href="#">Tablets & iPad</a> </li>
                <li> <a href="#">Monitores</a> </li>

            </ul>
        </nav>
        <div class="main-header-search">
            <form action="" method="get">
                <label for="">
                    <input type="search" id="busqueda" placeholder="Buscar productos, marcas"><i
                        class="fa-solid fa-magnifying-glass"></i>

                </label>
            </form>
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-user"></i>

            <a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>

    </header>

    <main>
        <section>
            <div class="banner">
                <img src="/images/home_banner.jpg" alt="">
            </div>
             <div>
                <h1>Incrementa tu experiencia de juego</h1>
             </div>
             <article>
                <p>Eleva los limites</p>
                <img src="/images/Asus Home.jpg" alt="">
                <img src="/images/ROG.jpg" alt="">
                <p>Do it with ROG!</p>
             </article>

             <article>
                <h3>Productos destacados</h3>
                <img src="/images/iPhone Home.jpg" alt="">
                <img src="/images/iPhone2 Home.jpg" alt="">
             </article>

        </section>
    </main>

    <footer>

        <i class="fa-solid fa-credit-card"></i>

        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con nxtGen, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $200.000</h3>
        <p>Solo por estar registrad@ en nxtGen tenés envíos gratis en miles de
            productos.</p>

        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gustó? ¡Devuelvelo! En nxtGen, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <h3>Copyright © 2023 NXTGEN</h3>
    </footer>
    
</body>
</html>