<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <main>
        <section class="form-login">
            <div class="form-login-img">
                <img src="images/Logo nxtGen.jpg" alt="logo principal">
            </div>
            <article class="form-login-card">
                <div class="form-login-title">
                    <h4>Inicia sesión en nxtGen</h4>
                </div>
                <div class="form-inputs">
                    <input class="controls" type="text" name="Usuario" id="Usuario" placeholder="Usuario">
                    <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
                    <input class="botons" type="submit" valvue="Iniciar sesión>
                    <div class="enlace">
                        <a href="./formulario.html" class="registrarme">Registrarme</a>
                    </div>
                </div>
            </article>
        </section>
    </main>


</body>

</html>
