<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <title>Formularios Registro</title>
</head>

<body>
    <main>
        <section class="form-register">
            <div class="form-register-img">
                <img src="/images/Logo nxtGen.jpg" alt="logo principal">
            </div>
            <article class="form-register-card">
                <div class="form-register-title">
                    <h4>Crea tu cuenta en nxtGen</h4>
                </div>
                <div class="form-inputs">
                    <input class="controls" type="text" name="Usuario" id="Usuario" placeholder="Usuario">
                    <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
                    <input class="controls" type="password" name="contraseña" id="correo" placeholder="Confirmar contraseña">
                    <input class="controls" type="email" name="email" id="email" placeholder="Correo">
                    <div class="termsCondition">
                        <label for="terms-checkbox" class="terms">Acepto los términos y condiciones</label>
                    </div>
                    <input type="checkbox" id="terms-checkbox" name="terms-checkbox" required>
                    <input class="botons" type="submit" valvue="Registrarme">
                    <div class="enlace">
                        <a href="./login.html" class="enlace">¿Ya tengo cuenta?</a>
                    </div>
                </div>
            </article>
        </section>
    </main>



</body>

</html>